

.erro {
	color: #dc3545;
}

.gp-text-box {
	display: inline-flex;
	flex-direction: column;
	margin-top: 6px;
}

.gp-text-form-field {
	display: inline-flex;
	flex-direction: column;
}

.container-custom-validator {
	height: 24.5px;
}
