

.filtro-container {
	display: flex;
	justify-content: space-between;
}

.table-container {
	height: 65vh;
}

.hidden-link {
	color: red;
	text-decoration: underline;
}

.hidden-link:hover {
	color: red;
	text-decoration: underline;
}